
@{
    ViewBag.Title = "Index";
}

<h2>Student List</h2>

<div id="Studentlist"></div>
@section ReactScripts{
   <script src="~/Scripts/StudentMaster/AddEditStudent.jsx"></script>
    <script src="~/Scripts/StudentMaster/index.jsx"></script>
    }
